* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1{
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container-large {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-small {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

/***Buttons***/
.btn-inizia {
  margin-left: 30px;
  margin-right: 20px;
  padding: 4px 15px;
}

.btn-large {
  padding: 5px 15px;
}

.btn-white {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  transition: all 0.2s ease 0s;
}

.btn-white:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn {
  color: #fff;
  background-color: #0061ff;
}

.btn:hover {
  background-color: #0062ffb9;
}

.big-arrow {
  font-size: 30px;
  color: #000;
}

.check,
.btn-simple {
  color: #0061ff;
}

.btn-simple {
  text-decoration: underline;
}

.btn-simple:hover {
  text-decoration: none;
}

/**************
    HEADER
**************/

header {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  background-color: #fff;
  line-height: 70px;
  box-shadow: 2px 2px 5px #ddd;
  position: fixed;
  z-index: 100;
}

.logo img {
  object-fit: none;
}

.first-half_nav,
.second-half_nav {
  width: 45%;
}

.first-half_nav {
  float: left;
  text-align: left;
}

.second-half_nav {
  float: right;
  text-align: right;
}

.first-half_nav nav,
.second-half_nav nav {
  display: inline-block;
}

.logo {
  float: left;
  width: 10%;
  height: 100%;
}

nav li {
  display: inline-block;
  margin: 0 20px;
}

nav li a {
  color: #000;
}

nav li:hover {
  border-bottom: 2px solid #0061ff;
}

/**************
    JUMBO
**************/

#jumbo {
  background-color: #b4d0e7;
  padding-top: 140px;
  max-height: 700px;
  margin-bottom: 150px;
}

.jumbo-content_text {
  width: 40%;
  float: left;
  padding-right: 80px;
}

.jumbo-content_text p:first-of-type {
  margin: 40px 0px 30px 0;
}

.jumbo-content_text p:nth-child(3) {
  margin: 20px 0px 30px 0px;
  font-size: 14px;
}

.jumbo-content_img {
  width: 60%;
  float: right;
}

.jumbo-content_img img {
  position: relative;
  bottom: -40px;
}

/**************
    MAIN
**************/

/***PIANI***/
#piani {
  margin-bottom: 100px;
}
#piani h2 {
  margin-bottom: 35px;
}

form label {
  margin-right: 10px;
  font-size: 14px;
}

.plans {
  margin: 40px 0;
}

.plan-margin {
  margin: 0 5%;
}

.plan {
  width: 30%;
  float: left;
  height: 900px;
  border: 1.2px solid rgb(187, 185, 185);
  font-size: 14px;
}

.plan span,
.plan-horizontal span {
  display: block;
}

.plan span:first-child,
.plan-horizontal span:first-child {
  text-align: center;
  padding: 8px 0px;
  border-bottom: 1.2px solid rgb(187, 185, 185);
}

.plan-details,
.plan-col4 {
  padding: 25px;
}

.plan-details h3,
.plan-col4 h3 {
  margin-bottom: 15px;
}

.plan-details h4 {
  font-size: 15px;
  margin: 30px 0px 20px 0px;
}

.plan-details .price-time {
  margin: 15px 0px 25px 0px;
  color: #828385;
  font-size: 12px;
}

.plan-details ul li {
  margin-bottom: 30px;
}

.plan-details li i {
  font-size: 13px;
}

.plan-details a:first-of-type {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

span.border-small {
  display: inline-block;
  padding-bottom: 20px;
  border-bottom: 1.2px solid rgb(187, 185, 185);
}

.plan-horizontal {
  border: 1.2px solid rgb(187, 185, 185);
  font-size: 14px;
}

.plan-details_col4 {
  width: 75%;
  float: left;
}

.plan-details_col4 span:first-of-type {
  margin-bottom: 25px;
}

.plan-btn_col4 {
  width: 25%;
  float: right;
}

.plan-btn_col4 {
  text-align: right;
}

.plan-btn_col4 a {
  display: block;
  text-align: center;
}

/***PARTNER***/
#partner {
  margin-bottom: 80px;
}

.partner-img {
  width: 55%;
  float: left;
}

.partner-text {
  width: 45%;
  float: right;
  padding-left: 55px;
}

.partner-text h3 {
  margin: 35px 0;
}
.partner-text p {
  line-height: 28px;
  margin-bottom: 25px;
}

/***BUSINESS***/
#business {
  margin-bottom: 150px;
}

.business-row:first-of-type {
  margin: 40px 0 80px 0;
}

.business-content {
  width: 30%;
  float: left;
}

.business-margin {
  margin: 0 5%;
}

.business-content_text p {
  margin-top: 25px;
}

/***SPONSOR***/
.sponsor-heading {
  margin-bottom: 40px;
}

.sponsor-heading h2 {
  margin-bottom: 30px;
}

.sponsor-content {
  background-color: #f5f5f5;
}

.sponsor-block {
  float: left;
}

.first-block,
.third-block {
  width: 30%;
}

.sponsor-block_img {
  width: 50%;
  float: left;
  padding: 25% 0;
  position: relative;
}

.sponsor-block_img img {
  width: 50%;
  max-width: 100px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.designit {
  background-color: #a2d39b;
  border: 10px solid rgba(253, 253, 253, 0.5);
  padding: calc(25% - 10px);
}

.arizona {
  background-color: #61082b;
}

.florida {
  background-color: #0093ce;
}

.topps {
  background-color: #ff1c1c;
}

.bicycle-relief {
  background-color: #d5001f;
}

.hearts-corps {
  background-color: #b4d0e7;
}

.lonely {
  background-color: #0d2481;
}

.clear-channel {
  background-color: #ffd830;
}

.second-block {
  width: 40%;
  height: 100%;
  padding: 40px;
}

.second-block img {
  filter:invert(1);
  width: 120px;
}

.second-block p {
  max-width: 700px;
  margin-top: 15%;
}

/***BANNER CTA***/
#banner-cta {
  background-color: #b4d0e7;
}

.banner-cta {
  padding: 90px 0px;
}

.banner-cta_heading,
.banner-cta_btn {
  width: 50%;
  float: left;
}

.banner-cta_heading h2 {
  color: #61082b;
}

.banner-cta_btn {
  text-align: right;
}

.banner-cta_btn a{
  border: none;
  padding-left: 50px;
  padding-right: 50px;
}

/*** FAQ***/
#faq {
  padding: 100px 0;
}

.faq h3 {
  margin-bottom: 30px;
}

.faq-content {
  position: relative;
  padding: 30px 0px;
  border-top: 1.5px solid #ebebec;
  cursor: pointer;
}

.faq-content {
  transition: all 1s ease;
}

.faq-content p {
  display: none;
  margin-top: 20px;
  max-width: 900px;
}

.faq-content .icon-up {
  display: none;
}

.faq-content:hover p,
.faq-content:hover .icon-up {
  display: block;
}

.faq-content:hover .icon-down {
  display: none;
}

.faq-content i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.faq:last-child {
  border-bottom: 1.5px solid #ebebec
}